# IDE stuff
.idea
.vs

# Build directories
_build
build
cmake-build-debug
cmake-build-release
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
out

# Just for testing video, please remove later.
testing

# Xcode stuff
*.xcworkspace
*.xcuserdatad
*.xcscheme

# Apple stuff.
.DS_Store